
body {
    font-family: -apple-system !important;
}

.btn{font-family: -apple-system !important; font-weight: 800;}
.navbar-nav .nav-link.signup-btn{font-family: -apple-system !important; font-weight: 600;}
.msg_count{font-family: -apple-system !important;}
.menu-navbar .nav-data .counts {font-family: -apple-system !important; padding-top :3px !important;}
.user-section .mr-number  {font-family: -apple-system !important; padding-top :1px !important;}
