<section class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="image-block">
                    <img src="<?=HTTP_IMG_PATH?>/img1.png"> 
                </div>
            </div>
            <!-- col -->
            <div class="col-xl-7">
                <div class="top-content-block">
                    <h1 class="t-heading">The World's Trusted Currency</h1>
                    <p class="t-description"> Check exchange rates, send money internationally </p>
                    <a href="#" class="btn common-btn signup-btn"> Join Now </a>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>
<!-- top section -->

<section class="second-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <div class="common-content-block">
                    <h1 class="c-heading">Heading goes here</h1>
                    <p class="c-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <ul>
                        <li class="">Lorem Ipsum is simply dummy text</li>
                        <li class="">Lorem Ipsum is simply dummy text of the printing</li>
                        <li class="">Lorem Ipsum is simply dummy text</li>
                        <li class="">Lorem Ipsum is simply dummy text of the printing</li>
                        <li class="">Lorem Ipsum is simply dummy text</li>
                        <li class="">Lorem Ipsum is simply dummy text of the printing</li>
                    </ul>
                </div>
                <!-- common-content-block -->
            </div>
            <!-- col -->
            <div class="col-xl-5">
                <div class="img-block"> <img src="<?=HTTP_IMG_PATH?>/img2.png"> </div>
            </div>
        </div>
        <!-- row -->
    </div>
</section>

<!-- second-section -->

<section class="third-section">
    <div class="container">
        <div class="">
            <h1 class="cp-heading"><h1>
            <p class="">  </p>
            <div class="">
                    

            </div>
        </div>
        <!--  -->
        <div class="">


        </div>
        <!--  -->
    </div>
</section>